/*#chartContainer{
	width:400px;
}*/

.canvasjs-chart-container{
	z-index: -1000;
}

#chartContainer2{
	height: 350px;
position: relative;
left: 640px;
bottom: 350px;
}

.checkrow{
	width: 123px;
}

#citylogo{
	position: relative;
	float: left;
	left: 20px;
	height: 50px;
	width: 50px;
}

#checkMark{
	height: 20px;
	width: 20px;
	position: relative;
	left: 50px;
}

#content{
	margin-top: 0px;
	height: 300px
}

#budgetDisplay{
	width: 100px;
	height: 40px;
	margin-top: 10px;
	position: relative;
	top: 39px;
	left: 28px;
	text-align: center;
}

#userInput{
	/*border:1px solid black;*/
	display: flex;
	flex-direction: column;
	height:400px;
	width: 400px;
	position: relative;
	left: 700px;
	bottom: 320px;
	z-index:40;
}

.categories{
	list-style: none;
	display: flex;
	flex-direction: row;
	position: relative;
	top: 0px;
	left: -30px;
}

li{
	padding-right: 28px;
}

.circle{
	background-color: red;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	margin: 10px 0px 0px 10px;
}

.cityEle{
	height:40px;
}

#cityList{
	width: 750px;
	/* border: 1px solid black; */
	position: relative;
	top: 140px;
	left: 200px;
}

#cityName{
	width: 120px;
}

#divider{
	width: 749px;
	height: 48px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	position: relative;
	top: 137px;
	left: 200px;
}

.element{
	/*border: 1px solid black;*/
	height: 50px;
	width: 180px;
	position: relative;
	margin-top: 13px;
	margin-left: 10px;
}

#eligibility{
	position: relative;
	left: 257px;
	width: 120px;
}

.head {
	position: relative;
	left: 66px;
	font-family: Helvetica;
	width:100%;
}

.headr{
	float:left;
	position: relative;
}

.input{

}

.selectedAmount{
	height: 19px;
	width: 150px;
	position: relative;
	left: 40px;
	bottom: 20px;
}

#tableOfCities{
	border: 1px solid black;
	height:300px;
	width:650px;
}

table{
	border-collapse:none;
}

#main{
	font-family:'Helvetica';
}


#proposeBudget{
	width: 56px;
	height: 37px;
	border: 1px solid #ccc;
	background-color: white;
	-webkit-appearance: none;
	border-radius: 6px;
	outline: none;
}

#proposeBudget:hover{
	background-color:#e8f0d1;
}

#proposeBudget:active{
	background-color:#7f9933;
}


span{
	position: relative;
	left: -110px;
}

#spending{
	position: relative;
	left: 40px;
}

.submitButton{
	width: 90px;
	position: relative;
	top: 4px;
	left: 150px;
}


.title{
	position: relative;
	bottom: 18px;
	left: 45px;
	font-family: Helvetica;
	font-size: 14px;
}

tr td{
	border-bottom:1px solid black;
	border-collapse: none;
}

table{
	border-collapse: none;
}

tr:hover{
	background-color: #e8f0d1;
	cursor: pointer;

}


tr{
	border-collapse: none;
}

th{
	border-collapse: none;
	border-bottom:1px solid black;
	text-align:left;
	padding-left: 10px;
}

#communityVotes{
	font-size: 25px;
	position: relative;
	top: 10px;
	left: -30px;
}

#header{
	z-index:1000;
	height:50px;
	position:fixed;
	top:0px;
	width:100%;
	color: white;
	background-color: #1c6bd2;
	text-align:center;
	padding-bottom: 3px;
	/*border-bottom: 1px solid black;*/
}

#footer{
	width:100%;
	height:80px;
	background-color: #1c6bd2;
	position: relative;
	top: 250px;
}
