{% extends "base.html" %}
{%block body%}
  
  <table id="cityList">
  <tr >
    <th>City Name</th>
    <th>Budget</th>
    <th>Most Spent On</th>
    <th>Voting Eligibility</th>
  </tr>
  {% for city in cities %}
    <tr>
    <td class="rowEle">
        <a href="/voteresults/{{city.encodedcityname}}">{{city.cityname}}</a>
      </td>
      <td class="rowEle">
        ${{city.total}}
      </td>
      <td class="rowEle">
        {{city.top_cat}} 
      </td>
      {% if city.cityname=="Palo Alto" %}
      <td class="rowEle checkrow">
        <a href="/vote/{{city.encodedcityname}}"><img id="checkMark" src={{ url_for('static', filename = 'vote.png') }} alt="checkmark image"/></a>
      </td>
      {% endif %}
      </tr>
  {% endfor %}
  </table>
{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ExternalStyles/barchart.css')}}" />
{% endblock %} 
{% block script %}

{% endblock %}