{% extends "base.html" %}
{%block body%}
  <div id="chartContainer" style="height: 350px; ">
    </div>
  <div id="userInput" >
  <h class ="head"> Proposed Budget </h>
    <div class="elements">
    </div>
    <div id="budgetDisplay">
    </div>

    <div class="submitButton">
      <button id="proposeBudget" type="button">Submit</button>
    </div>

  </div>

{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ExternalStyles/barchart.css')}}" />
{% endblock %} 
{% block script %}

<script type="text/javascript"> 

   var CITYBUDGET = "{{citybudget}}";
   var CITYNAME = "{{cityname}}"
   var ENCODEDCITYNAME = "{{encodedcityname}}"
   CITYBUDGET = cleanAndParseJinja2Globals(CITYBUDGET);
   
   CITYBUDGET = _.map(CITYBUDGET,function(s){
    var o = {}
    var arr = s.split('##??##')
    for(var i=0;i<arr.length;++i)
    {
        var labelValTuple = arr[i].split('####')
        o[labelValTuple[0]] = parseInt(labelValTuple[1])
    }
    return o;
   });


</script>
<script type="text/javascript" src="{{ url_for('static', filename='FEscript/barchart.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='FEscript/budgetModel.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='FEscript/voteController.js')}}"></script>
{% endblock %}