{% extends "base.html" %}
{%block body%}
  <div id="chartContainer" style="height: 350px; ">
    </div>
  <div id="userInput" >
  <h class ="head"> Propose Budget </h>
    <div class="element">
      <div class="circle teal"></div>
      <div class="input"><input oninput = "calculateBudget(this.value);" class="selectedAmount" type='text'></input></div>
      <span class="title">Utilities</span>
    </div>

    <div class="element">
      <div class="circle burg"></div>
      <div class="input"><input oninput = "calculateBudget(this.value);" class="selectedAmount" type='text'></input></div>
      <span class="title">Public Works</span>
    </div>

    <div class="element">
      <div class="circle purp"></div>
      <div class="input"><input oninput = "calculateBudget(this.value);" class="selectedAmount" type='text'></input></div>
      <span class="title">Non-Departmental</span>
    </div>

    <div class="element">
      <div class="circle green"></div>
      <div class="input"><input oninput = "calculateBudget(this.value);" class="selectedAmount" type='text'></input></div>
      <span class="title">Police</span>
    </div>

    <div class="element">
      <div class="circle turq"> </div>
      <div class="input"><input oninput = "calculateBudget(this.value);" class="selectedAmount" type='text'></input></div>
      <span class="title">Fire</span>
    </div>

    <div class="element">
      <div class="circle gold"></div>
      <div class="input"><input oninput = "calculateBudget(this.value);" class="selectedAmount" type='text'></input></div>
      <span class="title">Community Service</span>
    </div>



    <div id="budgetDisplay">
    </div>

    <div class="submitButton">
      <button id="proposeBudget" type="button">Submit</button>
    </div>

  </div>

{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ExternalStyles/barchart.css')}}" />
{% endblock %} 
{% block script %}
<script type="text/javascript"> 
   var CITYBUDGET = "{{citybudget}}";
   CITYBUDGET = cleanAndParseJinja2Globals(CITYBUDGET);
   
   CITYBUDGET = _.map(CITYBUDGET,function(s){
    var o = {}
    var arr = s.split('##??##')
    for(var i=0;i<arr.length;++i)
    {
        var labelValTuple = arr[i].split('####')
        o[labelValTuple[0]] = parseInt(labelValTuple[1])
    }
    return o;
   });


</script>
<script  src="{{ url_for('static', filename='FEScript/barchart.js')}}"></script>
<script  src="{{ url_for('static', filename='FEScript/budgetModel.js')}}"></script>
<script  src="{{ url_for('static', filename='FEScript/voteController.js')}}"></script>
{% endblock %}